/* --------------------------------------------------------- General rules ----------------------------------------------------------*/
/* Police */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

body{
    margin: 0; /* no margin top/bottom for page, no margin left/right for header (mobile, tablet) & footer (mobile, tablet, dekstop) */
    font-family: "Raleway", sans-serif;
}

h1{
    font-weight: 700;
}

h2, span{
    font-weight: 700;
    font-size: 1rem;
}

h3{
    font-size: 1rem;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

.header, .header__logo, .header__signIn, .header__nav, .header__nav--link,
.search, .search__icon, .filters, .filters__title, .filters__filter, .filters__filter div, .infos, .infos__icon,
.hostAndPopulars, .hosting__card--description, .mostPopulars__title, .mostPopulars__card, .mostPopulars__card--description,
.activities__card--description, .footer, .footer div{
    display: flex;
}

.header__nav--link, .search__icon, .filters__filter, .filters__filter div, .infos__icon{
    justify-content: center;
    align-items: center;
}


/* ----------------------------------------------  Desktop and large screens rules ---------------------------------------------- */
@media (min-width: 1024px) {
    header, section{
        margin: 0 20px;
    }
}